[submodule "tinycolormap"]
	path = contrib/tinycolormap
	url = https://github.com/yuki-koyama/tinycolormap.git
[submodule "contrib/date"]
	path = contrib/date
	url = https://github.com/HowardHinnant/date.git
