[submodule "tinycolormap"]
	path = contrib/tinycolormap
	url = https://github.com/yuki-koyama/tinycolormap.git
[submodule "fmt"]
	path = contrib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "contrib/date"]
	path = contrib/date
	url = https://github.com/HowardHinnant/date.git
